<div>
  <!-- Mostrar los detalles del enlace -->
  <h2>Detalles</h2>
  <p><strong>Votos:</strong> {{ link?.votes || 0 }}</p>
  <button (click)="handleVotes()">Votar</button>


  <!-- Mostrar los comentarios -->
  <h3>Comentarios</h3>
  <div *ngIf="comments.length; else noComments">
    <ul>
      <li *ngFor="let comment of comments">
        {{ comment.content }}
      </li>
    </ul>
  </div>
  <ng-template #noComments>
    <p>No hay comentarios para mostrar.</p>
  </ng-template>
  <!-- <button (click)="handleAddComment(link._id)">Comentar</button> -->

  <textarea [(ngModel)]="newComment" placeholder="Escribe tu comentario aquí"></textarea>
  <button (click)="handleAddComment(link._id)">Enviar</button>


  <!-- <button (click)="viewDetails(link._id)">Ver detalles</button> -->


</div>
