<div>
    <input [(ngModel)]="tagFilter" (ngModelChange)="applyFilter()" placeholder="Filtrar por etiqueta" />
  </div>
  <div *ngIf="links.length; else noLinks">
    <div *ngFor="let link of links">
      <p><strong> {{ link.title }}</strong></p>
      <p><a [href]="link.url" target="_blank">{{ link.url }}</a></p>
      <p> {{ link.description }}</p>
      <p><strong>Tags:</strong> {{ link.tags?.join(', ') || 'Sin etiquetas' }}</p>
      <button (click)="viewDetails(link._id)">Ver detalles</button>
    </div>
  </div>
  <ng-template #noLinks>
    <p>No se encontraron enlaces.</p>
  </ng-template>
  <button (click)="saveLink()">Añadir enlace</button>
  